core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.venv
.venv/
venv/
.env
blog/fixtures/
growing_projects/fixtures/
growing_projects/management/
growing_projects/commands/
debug_admin.html
staticfiles/
static/images/
media/
db.sqlite3
*.sqlite3
.DS_Store
.pytest_cache/
.vscode/
node_modules/
.DS_Store
.pytest_cache/
*.egg-info/