{# My garden card. Expects `crop` in context. #}
{% url 'growing_projects:crop_detail' crop.id as read_more_url %}
{% with image_url=crop.get_image_url %}
  {% include "components/card_base.html" with
    card_title=crop.common_name|default:crop.scientific_name
    card_subtitle=crop.scientific_name
    image_url=image_url
    image_alt=crop.common_name|default:crop.scientific_name
    read_more_url=read_more_url
    read_more_label="Read more"
    secondary_action_template="components/actions/remove_from_garden.html"
  %}
{% endwith %}
